body {
    margin: 0;
    font-family: "Rb";
}

.input-container {
    position: relative;
    width: 100%; /* Adjust as needed */
    margin-top: 19px;
}

.input-field {
    width: 100%;
    padding: 12px 16px;
    padding-top: 14px; /* Space for floating label */
    border: 2px solid var(--tg-theme-hint-color); /* Light grey border */
    border-radius: 7px; /* Slight rounding */
    font-size: 18px;
    outline: none;
    transition: border-color 0.2s ease; /* Smooth transition for border */
    box-sizing: border-box;
}
.input-field[type="text"] {
    font-family: "Rb";
}

.input-field:focus {
    border-color: var(--tg-theme-button-color); /* Blue border on focus */
}

.input-field.error {
    border-color: #f44336; /* Red border on error */
}

.input-label {
    position: absolute;
    top: 18px; /* Adjust based on input height and font size */
    left: 13px;
    font-size: 15px;
    color: var(--tg-theme-hint-color);
    pointer-events: none;
    transition: all 0.2s ease;
    font-family: "Rb";
    background-color: var(--tg-theme-bg-color); /* Match background color of input */
    padding: 0 4px;  /* create background behind the label, cropping border */
}

.input-field:focus + .input-label,
.input-field:not(:placeholder-shown) + .input-label
{
    color: var(--tg-theme-button-color);  
    top: -6px; /* Move label to top on focus/text */
    font-size: 13px;
}

.input-field.has-text + .input-label {
    color: var(--tg-theme-hint-color);  
    top: -6px;
    font-size: 13px;
}

.input-field:focus + .input-label {
    color: var(--tg-theme-button-color);
}

.input-field:not(:focus) + .input-label {
    color: var(--tg-theme-hint-color);
}

.input-field::placeholder {
    color: transparent; /* Hide placeholder */
}

.clear-button {
    position: absolute;
    top: 54%;
    right: 15px; /* Space from right edge */
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: var(--tg-theme-hint-color);
    display: none; /* Initially hidden */
}
.clear-button svg {
    fill: var(--tg-theme-hint-color);
}

.input-field:not(:placeholder-shown) + .input-label + .clear-button,
.input-field.has-text + .input-label + .clear-button,
.input-field:focus + .input-label + .clear-button{
    display: block;
}

.limit-counter {
    position: absolute;
    font-family: "Rb";
    bottom: 16px;
    right: 40px;
    font-size: 15px;
    color: var(--tg-theme-hint-color);
    display: none;
}

.input-container.limited .limit-counter {
    display: block;
}
