.tab-header {
    display: flex;
    position: sticky;
    top: 0px;
    background: var(--tg-theme-bg-color);
    padding: 0 16px;
    justify-content: space-evenly;
    gap: 24px;
    z-index: 3;
    cursor: default;
    border-bottom: 0.5px solid var(--tg-theme-section-separator-color);
}
.tab {
    position: relative;
    padding: 14px 0;
    font-weight: 450;
    font-size: 16px;
    cursor: pointer;
    user-select: none;
    color: var(--tg-theme-subtitle-text-color);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* display: inline-block; */
}
.tab.active {
    color: var(--tg-theme-button-color);
}
.tab.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100%;
    background: var(--tg-theme-button-color);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    transition: left 0.3s ease; /* Добавляем плавность */

}
