/* Теги */
.tags-wrapper {
  background: var(--tg-theme-secondary-bg-color);
  overflow-x: auto;
  white-space: nowrap;
  padding: 8px 16px;
  cursor: default;
}

/* ::-webkit-scrollbar { display: none; } */

.tag {
  display: inline-block;
  color: var(--tg-theme-hint-color);
  font-size: 14px;
  font-family: "Rb";
  font-weight: 450;
  padding: 2px 12px;
  margin-right: 0px;
  user-select: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.tag.active {
  background: #6b6b6b3f;
  color: var(--tg-theme-text-color);
  border-radius: 9999px; /* полностью скругленные углы */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.tag:active {
  transition: 0.03s;
  transform: scale(0.9);

}


